@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&display=swap');
body{
    background-color: black;
}
h1{
    color:white;
    text-align:center;
    font-family: 'Dancing Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;
    
}
div{
    height: 180px;
    width: 150px;
    float:left;
    border: 2px solid black;
    
    
}
.one{
    margin-left: 297px;
    background-color: grey;
}
.two{
    background-color: green;
}
.three{
    background-color: lightgreen;
}
.four{
    background-color: limegreen;
}
.five{
    background-color: lightgray;
}