@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.title{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
.area{
    
    height:200px;
    width: 20%;
}
.div{
    left: 50%;
}